.p5{
    margin-left: auto
}



.hi{
    background-color: rgb(58, 127, 247) ;
    color: aliceblue;
}

.p2{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
    
}
.p4{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
.p5{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
.p6{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
.p7{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
.p8{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
.p9{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
.p10{
    background-color: rgb(58, 127,247);
    width: 300px;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}


